

<div>
<header>
  <h1>DETAILS</h1>
</header>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        ENTER YOUR DETAILS HERE
      </div>
      <div class="card-body">
        <label for="name" style=" font-weight: bold;">NAME:</label>
        <input  type="text" autocomplete="off" #uname id="name">
        <br><br>
        <label for="age" style=" font-weight: bold;">AGE:</label>
      <input style="margin-left: 12px;" autocomplete="off" type="number" #uage id="age">
        <br><br>
      <button (click)="adduser(uname,uage)" class="btn">ADD</button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <table class="table" id="customers">
      <thead class="thead-dark">
        <h2 style="position: sticky;top: 10%; z-index: 1000; font-weight:bold; color: #AA7CB1">USERDETAILS</h2>
        <tr>
          <th scope="col" (click)="sortName('name')">NAME &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-up" style="font-size:24px"></i></th>
            <th scope="col" (click)="sortData()">AGE &nbsp;&nbsp;<i class="fa fa-arrow-circle-up" style="font-size:24px"></i></th>
            <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of ulist; index as i">
          <td>{{obj.name}}</td>
          <td>{{obj.age}}</td>
          <td><button (click)="delete(i)" style="background-color: dimgrey;">DELETE</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer>
    <ul>
        <li class="menu ">Git hub App</li>
        <li class="menu right">Your Copy Note</li>
    </ul>

</footer>
</div>



